<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
</head>
<body>

<h1>ALL BLOGS</h1>

<% for(let i = 0; i < post.length; i++) { %>

    <h2><%= post[i].title %></h2>
    <p><%= post[i].content %></p>

    <form action="/delete/<%=i%>" method="POST">
        <button type="submit">DELETE BLOG</button>
    </form>
    <br>

    <form action="/edit/<%= i %>" method="GET">
    <button type="submit">EDIT</button>
    </form>

     <hr>

<% } %>





</body>
</html>