<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>

    <link rel="stylesheet" href="viewblog.css">
</head>
<body>
<header>
      
      <div class="logo">BLOGS<span class="logo-accent">WEB</span></div>
      <h1> VIEW ALL BLOGS </h1>

</header>


<div class="block">
    <% for(let i = 0; i < post.length; i++) { %>

    <h1 class = "title"><%= post[i].title %></h1>
    <h4><%= post[i].content %></h4>

    <form action="/delete/<%=i%>" method="POST">
        <button class="deletebuttn" type="submit">DELETE BLOG</button>
    </form>

    <form action="/edit/<%= i %>" method="GET">
    <button type="submit">EDIT</button>
    </form>

     <hr>

<% } %>

</div>





</body>
</html>