<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogapplication</title>

    <link rel="stylesheet" href="style.css">
    
</head>
<header class="headerr">
    <div class="logo">BLOGS<span class="logo-accent">WEB</span></div>
    <div class="header-tagline">
        Capture your thoughts, <br> 
        <span>share them with the world.</span>
    </div>
</header>

<body>
    <div class="heading">
        <p>BLOGS APPLICATION WEBSITE</p>
        <p>WE CAN READ , WRITE AND DELETE THE BLOGS</p>
    </div>
    <div class ="bodyyy">
        <p>PERSONAL BLOGS</p>
        <a href="/allblogs">
            <button>VIEW BLOG</button>
        </a>
        <br>
        <br>
        <a href="/new">
            <button>CREATE YOUR OWN BLOG</button>
        </a>
        

    </div>
</body>
</html>